@import "./base/reset.scss";
@import "./base/typography.scss";

@import "./components/button.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";

@import "./utils/mixins.scss";
@import "./utils/variables.scss";


.menu {
  border: 4px dashed blue;
  padding: 10px;
}


.menu__item {
  @extend card-simple;
  background-color: white;
  padding: 10px;
}

.btn-primary {
  background-image: linear-gradient(170deg, $color-secondary, $color-primary);
}



.footer {
  background-color: $color-footer;
}


.icon {
  width: 15px;

}