@import "./base/reset.scss";
@import "./base/typography.scss";

@import "./components/animations.scss";
@import "./components/button.scss";
@import "./components/cards.scss";


@import "./layout/body.scss";
@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";

@import "./utils/mixins.scss";
@import "./utils/variables.scss";
