@import "./base/reset.scss";
@import "./base/typography.scss";

@import "./components/button.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/index.scss";

@import "./utils/mixins.scss";
@import "./utils/variables.scss";




.menu {
  border: 4px dashed blue;
  padding: 0 10px;
  font-weight: 300;
  & img{
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
  }
  & figure{
    border-radius: 15px;
  }
}


.menu__item {
  @extend card-simple;
  
}

.btn-primary {
  background-image: linear-gradient(170deg, $color-secondary, $color-primary);
}



.footer {
  background-color: $color-footer;
  color: white;

}


.icon {
  margin: 0;
  & img{
    width: 15px;
  }

.steps{
  
  }
}
