.mainRepeat {
    display: flex;
    flex-direction: column;
}

.bgImage {
    width: 100%;
    max-height: 350px;
    height: 300px;
    order: 1
}

.container {
    background-color: wheat;
    padding: 40px 0 60px;
    margin-top: -40px;
    order: 2;
    width: 100%;
    @extend border-top-radius-25;

    &__menu {
        background-color: silver;
        padding: 20px;

        &__simple {
            height: 100%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        border: 2px dashed blue;

        & button {
            margin: 0;
        }
    }
}


@media only screen and (min-width: 768px) {
    .container {
        padding: 20px;

        &__menu {
            &__simple {
                &__card {
                    margin: 20px 30px;

                    &__transform {
                        &__subText {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .container__menu__simple__card {
        margin: 20px 10px;
    }
}