main {
    background-color: white;
}

.mainRepeat {
    display: flex;
    flex-direction: column;
}

.bgImage {
    width: 100%;
    max-height: 350px;
    height: 300px;
    order: 1
}

.container {
    padding: 40px 10px 60px;
    order: 2;
    width: 100%;
    max-width: 1500px;
    margin-top: -20px;
    @extend border-top-radius-25;

    &__menu {
        &__simple {
            height: 100%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
            margin: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 40px 20px 60px;

        &__menu {
            padding: 10px;

            &__simple {
                &__card {
                    margin: 20px 30px;

                    &__transform {
                        &__subText {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .container {
        margin-top: 50px;

        &__menu__simple__card {
            margin: 10px;
        }
    }
}