main {
    display: flex;
    flex-direction: row;
    border: 2px dashed cyan;
    margin: 15px;
}

.mainRepeat {
    display: flex;
    flex-direction: column;
}

.bgImage {
    width: 100%;
    max-height: 350px;
    height: 300px;
    order: 1
}

.container {
    padding: 40px 20px 60px;
    margin-top: 30px;
    order: 2;
    width: 100%;
    max-width: 1500px;
    @extend border-top-radius-25;

    &__menu {
        &__simple {
            height: 100%;
        }
    }

    &__title {
        display: flex;
        justify-content: space-between;
        border: 2px dashed blue;

        & button {
            margin: 0;
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        padding: 20px;

        &__menu {
            padding: 10px;

            &__simple {
                &__card {
                    margin: 20px 30px;

                    &__transform {
                        &__subText {
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:1024px) {
    .index {

        width: 500px;
    }

    .container__menu__simple__card {
        margin: 10px;
    }
}