.footer {
  padding: 25px 15px;
  color: white;

  &__logo {
    width: 120px;
    padding-left: 10px;
  }

  &__links {
    & li {
      margin: 10px;

      img {
        width: 15px;
        margin: 0 10px -3px 0;
      }
    }
  }

  & a {
    color: white;
  }
}

.inverted {
  filter: invert(100%);
}