.footer {
  padding: 15px;
  color: white;

  &__logo {
    border: 2px dashed rgb(69, 23, 175);
    & img {
      width: 150px;
    }
  }

&__links{
  border: 2px dashed rgba(236, 12, 12, 0.74);

}
& a{
  width :250px;
  border: 2px dashed rgba(255, 255, 255, 0.74);

}
}

.inverted {
  filter: invert(100%);
}