.footer {
  padding: 25px 15px;
  letter-spacing: 0.5px;

  &__logo {
    width: 120px;
    padding-left: 10px;
  }

  &__links {
    & li {
      margin: 10px;
    }
  }

  & a {
    color: white;
  }
}

.inverted {
  filter: invert(100%);
}

@media only screen and (min-width:768px) {
  .footer {
      padding: 20px 20px 20px 40px;
    }
}