.footer {
  padding: 15px;

  &__logo {
    filter: invert(100%);
    
    & img{
      width: 150px;
    }
  }

  & ul {
    margin: 5px;
  }

  & li {
    margin-bottom: 10px;
  }
}