.header {
    border: 3px dashed darkgreen;
    background-color: pink;
    &__logo {
        margin: 10px 0;
        border: 3px dashed blue;

        & img {
            width: 200px;
        }
    }
}