.header {
    border: 3px dashed darkgreen;
    background-color: pink;

    &__nav {
        display: flex;
        align-items: center;
        border: 3px dashed hotpink;

        &__logo {
            margin: 10px auto;
            border: 3px dashed blue;
                       width: 200px;
    
        }     
        & a {
            margin: 0 0 0 25px;
        } 
    }
    
    /*
    */
}