.header {
    border: 3px dashed darkgrey;
    background-color: pink;
    
    &__nav {
        display: flex;
        align-items: center;
        border: 3px dashed hotpink;

        &__logo {
            margin: 15px auto;
            width: 250px;
           padding-right:50px;
        }

        & a {
           margin-left: 20px;
        }
    }

    
}
