.header {
    &__nav {
        display: flex;
        align-items: center;

        &__logo {
            margin: 15px auto;
            width: 250px;
            padding-right: 50px;
        }

        & a {
            margin-left: 20px;
        }
    }


}