* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: roboto, san-serif;
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  min-width: 350px;
}

main {
  background-color: #4aad52;
  padding: 10px 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, p {
  padding: 1px;
  margin: 1px;
}

.title {
  font-family: shrikhand, serif;
  font-style: italic;
  letter-spacing: 1px;
}

h3 {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
  font-weight: 300;
  padding: 0 5px;
  font-size: 1.07rem;
}

.btn-primary {
  height: 50px;
  width: 200px;
  border-radius: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.btn-primary:hover {
  cursor: pointer;
  filter: drop-shadow(3px 3px 3px #782cd3);
}
.btn-primary:active {
  transform: translate(0.5px, 0.5px);
}

.header {
  border: 3px dashed blue;
  background-color: pink;
  margin: 10px 0;
}
.header__logo {
  margin: 0;
}
.header__logo img {
  width: 200px;
}

.footer {
  padding: 15px;
  color: white;
}
.footer__logo {
  border: 2px dashed #4517af;
}
.footer__logo img {
  width: 150px;
}
.footer__links {
  border: 2px dashed rgba(236, 12, 12, 0.74);
}
.footer a {
  width: 250px;
  border: 2px dashed rgba(255, 255, 255, 0.74);
}

.inverted {
  filter: invert(100%);
}

.header {
  text-align: center;
}
.header__search {
  background-color: orange;
  margin: 0 auto;
}
.header__explore {
  background-color: wheat;
}
.header__howItWorks {
  padding: 10px;
  border: 2px dashed red;
}
.header__howItWorks h2 {
  text-align: left;
  padding: 0 5px;
}
.header__howItWorks__steps {
  background-color: cyan;
  display: flex;
  align-items: center;
  position: relative;
}
.header__howItWorks__steps img {
  margin: 0 25px;
}

.circle {
  background-color: #c761c7;
  color: white;
  padding: 6px;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  left: -15px;
}

.menu__type figure {
  width: 100%;
  border: 2px dashed orange;
  height: 100%;
}
.menu__type figure img {
  width: 100%;
  height: 73%;
}
.menu__type figure figcaption {
  background-color: white;
  margin: 5px 10px;
}
.menu__type figure figcaption h3,
.menu__type figure figcaption p {
  margin-top: 5px;
}

card-full, .menu__type {
  border-radius: 15px;
  margin: 10px auto;
  text-transform: capitalize;
  height: 250px;
}

card-simple, .menu__item {
  border-radius: 15px;
  margin: 10px auto;
}

card-steps, .header__howItWorks__steps {
  border-radius: 15px;
  margin: 10px auto;
  height: 60px;
  margin: 10px 0 0 20px;
  padding-left: 10px;
}

.menu {
  border: 4px dashed blue;
  padding: 10px;
}
.menu img {
  object-fit: cover;
  object-position: center;
  border-radius: 15px 15px 0 0;
}
.menu figure {
  border-radius: 15px;
}

.menu__item {
  background-color: white;
  padding: 10px;
}

.btn-primary {
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
}

.footer {
  background-color: #353535;
}

.icon {
  margin: 0;
  width: 15px;
}

/*# sourceMappingURL=main.css.map */
