.container__menu__simple {
    &__card {
        overflow: hidden;

        &__transform {
            width: 100%;
            height: 70px;
        }

        &:hover &__transform {
            width: 82%;
            margin-left: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            position: relative;
        }

        &:hover .tertiary {
            transform: translateX(-100%);
        }

        &:hover svg {
            transform: rotate(-360deg);
        }

        .tertiary {
            width: 18%;
            height: 100%;
            margin: 0;
            position: absolute;
            right: -18%;
            transition: transform 400ms ease;

            svg {
                transition: transform 800ms ease;
            }
        }
    }
}


.loadingCard-1 {
    
 @extend loadingCard-1;
}

.loadingCard-2 {
 @extend loadingCard-2;
}

.loadingCard-3 {
    @extend loadingCard-3;
}