//cards//
.container__menu__simple {
    &__card {
        &__transform {}

        &:hover &__transform {
            transition: width 400ms ease-out;
            width: 82%;
            margin-left: 0;
            position: relative;
        }

        &:not(hover) &__transform {
            transition: width 400ms ease-out;
            width: 100%;
            transition-delay: 100ms;
        }

        &__text__subText,
        &:hover p:first-child {
            width: 100%;
        }

        &:hover .tertiary {
            transition: transform 400ms ease-out;
            transform: translateX(-100%);
        }

        &:not(hover) .tertiary {
            transform: translateX(100%);
            transition: transform 500ms ease-out;
            transition-delay: 100ms;
        }

        .tertiary {
            width: 18%;
            height: 100%;
            margin: 0;
            position: absolute;
            right: -18%;
            transition: transform 400ms ease;
        }

        &:hover svg {
            transform: rotate(-720deg);
        }

        svg {
            transition: transform 800ms ease;
        }
    }
}

.loadingCard {
    &--1 {
        animation: loadingCard 500ms ease-out forwards;
        border-radius: 15px;
    }

    &--2 {
        animation: loadingCard 900ms ease-out forwards;
        border-radius: 15px;
    }

    &--3 {
        animation: loadingCard 1300ms ease-out forwards;
        border-radius: 15px;
    }
}

.loadingGroup {
    &--1 {
        animation: loadingCard 1000ms cubic-bezier(0, 0.69, 0, 1) 100ms;
    }

    &--2 {
        animation: loadingCard 1000ms ease-in-out 100ms;
    }

    &--3 {
        animation: loadingCard 1000ms cubic-bezier(.5, -0.06, .53, .29) 100ms;
    }
}


@keyframes loadingCard {
    0% {
        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

//preloader animation//
@keyframes loader {
    0% {
        opacity: 0;
    }

    20%,
    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes dot-scale {

    0%,
    30% {
        transform: scale(1.1);
    }

    37% {
        transform: scale(1.45);
    }

    40%,
    100% {
        transform: scale(1.5);
    }
}

@keyframes letter-opacity {
    0% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

@keyframes icon-opacity {
    0% {
        opacity: 1;
    }

    50%,
    100% {
        opacity: 0;
    }
}

.banner__group {
    animation: bannerSlide 15s ease-out infinite;
}

.bannerGroup--1 {
    animation-delay: 5s;
}

.bannerGroup--2 {
    animation-delay: 10s;
}

.bannerGroup--3 {
    animation-delay: 15s;
}


@keyframes bannerSlide {

    2%,
    30% {
        transform: translateX(0);
    }

    32% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-100%);
    }
}