.banner {
    p {
        font-size: 1rem;
    }
}

@media only screen and (min-width:1024px) {
    .banner {
        display: flex;
        background-color: #ebe9e9;
        padding: 10px;
        border-radius: 25px 0 0 25px;
    overflow: hidden;
        position: relative;
        flex-direction: column;

        &__group {
            top: 0;
            left: 0;
            position:absolute;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            min-width: 100%;
            height: 100%;        
            transform: translateX(100%);
            & figure {
                position: relative;
                height: 65%;
                display: flex;
                border-radius: 25px 25px 0 0;
                background-color: silver;

                & img {
                    border-radius: 25px 25px 0 0;
                    width: 100%;
                }

                & figcaption {
                    position: absolute;
                    margin: 5px 15px;
                    bottom: 10px;
                }
            }

            &__text {
                margin: 0 0 0 0;
                padding: 5px 15px;
                background-color: white;
                border-radius: 0 0 25px 25px;
                height: 35%;

                & h1 {
                    font-family: shrikhand, serif;
                    font-style: italic;
                    letter-spacing: 1px;
                    margin: 10px 0;
                    text-transform: capitalize;
                    font-size: 3.5rem;
                }

                & p {
                    font-size: 1.4rem;
                    margin: 10px 0;
                }
            }
        }
    }
}

.bannerGroup--1 {
 z-index:3;
    & figure {
        background-color: black;

        & img {
            object-fit: contain;
        }

        & figcaption {
            color: white;
        }
    }
}

.bannerGroup--2 {
    z-index:2;
    & figure {
        & img {
            object-fit: cover;
        }
    }
}
.bannerGroup--3 {  
  
    z-index:1;
    }

@media only screen and (min-width: 1300px) {
    .banner__group {
        &__text {
            & h1 {
                font-size: 3.8rem;
            }

            & p {
                font-size: 1.7rem;
            }
        }
    }
}