.banner {
    display: none;
}

@media only screen and (min-width:768px) {
    p {
        font-size: 1rem;
    }
}

@media only screen and (min-width:1024px) {
    .banner {
        display: flex;
        background-color: silver;
        padding: 10px;
        border-radius: 25px;

        &__group {
            margin: 1px;
            height: 100%;
            width: 100%;
            display: flex;
            flex-direction: column;

            & figure {
                position: relative;
                height: 62%;
                display: flex;
                border-radius: 25px;
                background-color: silver;

                & img {
                    border-radius: 25px;
                    width: 100%;
                }

                & figcaption {
                    position: absolute;
                    margin: 5px 15px;
                    bottom: 10px;
                }
            }
        

        &__text {
            margin-top: 15px;
            padding: 5px 15px;
            background-color: white;
            border-radius: 25px;
            height: 35%;

            & h1 {
                font-family: shrikhand, serif;
                font-style: italic;
                letter-spacing: 1px;
                margin: 0px;
                text-transform: capitalize;
                font-size: 3.5rem;
            }

            & p {
                font-size: 1.4rem;
                margin: 10px 0;
            }
        }
    }
}}

@media only screen and (min-width: 1300px) {
    .banner__group {
        &__text {
            & h1 {
                font-size: 4.5rem;
            }

            & p {
                font-size: 1.8rem;
            }
        }
    }}

    .bannerGroup--1 {
        padding: 10px;
        display: none;

        & figure {
            background-color: black;

            & img {
                object-fit: contain;
            }

            & figcaption {
                color: white;
            }
        }
    }

    .bannerGroup--2 {
        display: none;

        & figure {
            & img {
                object-fit: cover;
            }

            & figcaption {}
        }
    }

    .bannerGroup--3 {
        display: none;
    }
