.banner {
    display: none;
}

@media only screen and (min-width:768px) {
    p {
        font-size: 1rem;
    }
}

@media only screen and (min-width:1024px) {
    .banner {
        display: flex;
        background-color: white;
        border-radius: 25px 25px 0 0;

        &__group {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            & figure {
                position: relative;
                height: 64%;
                border-radius: 25px;
                width: 100%;

                & img {
                    border-radius: 25px;
                    width: 100%;
                }

                & figcaption {
                    position: absolute;
                    margin: 5px 15px;
                    font-size: 1.1rem;
                }
            }

            &__text {
                padding: 5px 15px;
                background-color: white;
                border-radius: 25px;
                height: 34%;

                & h1 {
                    font-family: shrikhand, serif;
                    font-style: italic;
                    letter-spacing: 1px;
                    margin: 0px;
                    text-transform: capitalize;
                    font-size: 4.5rem;
                }

                & p {
                    font-size: 1.15rem;
                    margin: 10px 0;
                }
            }
        }
    }

    @media only screen and (min-width:1324px) {
        .banner {
            &__group {

                & figure {
                    & figcaption {
                        font-size: 1.25rem;
                    }
                }

                &__text {
                    & p {
                        font-size: 1.3rem;
                    }
                }
            }
        }}

        .bannerGroup--1 {
            display: none;

            & figure {
                background-color: black;
                background-color: olive;

                & img {
                   object-fit: contain;
                    height: 100%;
                }

                & figcaption {
                    bottom: 10px;
                    color: white;
                }
            }
        }

        .bannerGroup--2 {
            display: none;

            & figure {
               & img {
                    object-fit:cover;
                    height: 100%;
                }

                & figcaption {
                    bottom: 10px;
                }
            }
        }

        .bannerGroup--3 {
            display: none;
            & img {
                object-fit:cover;
                height: 100%;
            }

            & figcaption {
                bottom: 10px;
            }
        }
    }
