.btn {
    cursor: pointer;
}

//oblong purple button
.primary {
    height: 50px;
    width: 220px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    letter-spacing: 0.5px;
    padding: 0 15px;

    &:active {
        transform: translate(1px, 1px);
    }
}

//heart icon button
.secondary {
    border: none;
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    align-items: center;
    background-color: transparent;

    &:hover &__mask {
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.51s linear;
    }

    &:focus &__mask {
        transform: scaleY(0);
    }

    & svg {
        width: 25px;
    }

    &__line,
    &__solid,
    &__mask {
        position: absolute;
    }

    &__solid {
        right: 10px;
    }

    &__line {
        right: 10px;
    }

    &__mask {
        width: 27px;
        height: 27px;
        background-color: white;
        right: 10px;
    }
}



//menu-item like button
.tertiary {
    border: none;
    @extend border-right-radius-15;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;


    &:active svg {
        transition: transform 0s ease-in;
        transform: translate(2px, 2px);

    }
}