.btn {
    cursor: pointer;
}

//oblong purple button
.primary {
    height: 50px;
    width: 220px;
    border-radius: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto 30px;
    letter-spacing: 0.5px;
    padding: 0 15px;

    &:active {
        transform: translate(1px, 1px);
    }
}

//heart icon button
.secondary {
    border: 2px dashed red;
    border: none;
    display: flex;
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;

    & svg {
        width: 25px;

    }

    &__line,
    &__solid {
        margin: 0;
        position: absolute;
        bottom: 15px;
    }

    &__solid {
        right: 100000000px;

    }

    &__line {
        right: 10px;

    }

    &:active {
        transform: translate(2px, 2px);
    }

    &:focus &__solid {
        right: 10px;
    }
}

//menu-item like button
.tertiary {
    width: 100%;
    border: none;
    @extend border-right-radius-15;
    position: relative;
    


    & svg {
        position: absolute;
        right:1000px;
        top: 35%;
    left:10000px;
    }

    &:active svg {
        transform: translate(1px, 1px);
    }


}