.menu {
  border: 2px dashed darkcyan;

  &__full {
    @extend card-full;
    border: 2px dashed cyan;

    & figure {
      width: 100%;
      background-color: white;
      height: 100%;
      position: relative;
      @extend border-radius-15;

      & img {
        object-position: 0 -70px;
      }

      &>.addPosition {
        object-position: 0 -180px;
      }

      & span {
        position: absolute;
        display: flex;
        top: 6%;
        right: 3%;
        width: 75px;
        height: 30px;
        background-color: cyan;
        justify-content: center;
        align-items: center;
        padding: 2px;
        font-weight: 700;
        font-size: 0.8rem;
        color: blue;
        border-radius: 3px;
      }

      & figcaption {
        background-color: white;
        margin: 7px 12px;
        width: 80%;
      }
    }
  }

  .menu__full {
    position: relative;
  }

  .secondary {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 2%;
  }

  &__simple {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    margin: 15px 0;
    height: 70px;

    &:hover &__transform {
      width: 82%;
      margin-left: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      opacity: 0.5;
    }

    &:hover svg {
      transform:  translateX(-20px) rotate(360deg) ;
      transition: transform 400ms;
    left: 45px;
    }

    &:hover &__static {
      cursor: pointer;

    }

   

    &__static {
      @extend border-right-radius-15;
      width: 18%;
      justify-content: flex-end;
      position: absolute;
      height: 70px;
      display: flex;
      margin: 0 !important;
      right: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      & svg {
            @extend border-radius;
        padding: 5px;
        width: 22px;

      }
    }
  }
}