.container {
  &__menu {
    border: 2px dashed darkcyan;
    padding: 20px;

    & h3 {
      border: 2px dashed hotpink;
    }

    &__full {
      @extend card-full;
      border: 2px dashed cyan;
      width: 100%;
      min-width: 350px;


      & figure {
        width: 100%;
        background-color: white;
        height: 100%;
        position: relative;
        @extend border-radius-15;
        border: 2px dashed red;

        & img {
          width: 100%;
          height: 73%;
        }

        & span {
          position: absolute;
          display: flex;
          top: 6%;
          right: 3%;
          width: 75px;
          height: 30px;
          background-color: cyan;
          justify-content: center;
          align-items: center;
          padding: 2px;
          font-weight: 700;
          font-size: 0.8rem;
          color: blue;
          border-radius: 3px;
        }

        & figcaption {
          background-color: white;
          margin: 7px 12px;
          width: 80%;
        }
      }
    }

    &__simple {
      width: 100%;
      margin: 15px 0;
      height: 70px;
      border: 3px dashed green;

      &__card {
        border: 2px dashed black;
        margin: 10px 0;
        display: flex;
        position: relative;

        &__static {
          width: 100%;
          @extend border-radius-15;
          justify-content: flex-end;
          position: absolute;
          display: flex;
          margin: 0 !important;
          right: 0;

          & svg {
            @extend border-radius;
            padding: 5px;
            width: 22px;
          }
        }

        &__transform {
          background-color: white;
          @extend card-simple;
          margin: 0 !important;
          padding: 10px 20px 10px 10px;
          z-index: 1;

          &__text {
            border: 2px dashed green;
            margin: 0;

            &__subText,
            h3 {
              display: flex;
              margin: 0 0;
              justify-content: space-between;
              border: 2px dashed pink;

              &--bold {
                margin-right: 0;
                font-weight: 700;
              }

              & p {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

.container__menu__full {
  position: relative;

  .secondary {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .container__menu {
   
    &__simple__card {
      &__transform {
        padding: 10px;

        &__subText {
          margin-bottom: 10px;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .container__menu {
      padding: 10px 20px;

      &__simple {
        height: auto;
        display: flex;
        flex-direction: row;
        margin: 0;
        justify-content: space-between;

        &__card {
          flex-basis: 32%;
          margin: 0;

          &__static {
            width: 100%;
            height: 130px;
          }

          &__transform {
            width: 100%;
            height: 130px;
            display: flex;
            flex-direction: column;


            &__text {
              display: flex;
              flex-direction: column;
              height: 100%;

              h3 {
                margin: 2px 0;
              }

              &__subText {
                margin: 5px 5px 0 0;

               
              }
            }
          }

        }
      }
    }
  }
}