.menu__full {
  @extend card-full;
 
  & figure {
    width: 100%;
   background-color: white;
    height: 100%;
    position: relative;
    @extend border-radius-15;

    & span {
      position: absolute;
      display: flex;
      top: 6%;
      right: 3%;
      width: 75px;
      height: 30px;
      background-color: cyan;
      justify-content: center;
      align-items: center;
      padding: 2px;
      font-weight: 700;
      font-size: 0.8rem;
      color: blue;
      border-radius: 3px;
    }

    & figcaption {
      background-color: white;
      margin: 5px 10px;
      display: flex;
      justify-content: space-between;

      .menu__full__texts {
        margin: 0;
      }
    }
  }
}

.menu__transform {
  @extend card-simple;
  background-color: white;
  padding: 10px;

  &__subText {
    display: flex;
    justify-content: space-between;
  }

}