.container {
  &__menu {
    border: 2px dashed darkcyan;
    padding: 20px;

    &__full {
      @extend card-full;
      border: 2px dashed cyan;
      width: 100%;
      min-width: 350px;


      & figure {
        width: 100%;
        background-color: white;
        height: 100%;
        position: relative;
        @extend border-radius-15;

        & img {
          width: 100%;
          height: 73%;
        }

        & span {
          position: absolute;
          display: flex;
          top: 6%;
          right: 3%;
          width: 75px;
          height: 30px;
          background-color: cyan;
          justify-content: center;
          align-items: center;
          padding: 2px;
          font-weight: 700;
          font-size: 0.8rem;
          color: blue;
          border-radius: 3px;
        }

        & figcaption {
          background-color: white;
          margin: 7px 12px;
          width: 80%;
        }
      }
    }

    &__simple {
      width: 100%;
      margin: 15px 0;
      height: 70px;

      &__card {
        margin: 15px 0;
        display: flex;
        position: relative;
        overflow: hidden;

        &__static {
          width: 100%;
          height: 70px;
          @extend border-radius-15;
          justify-content: flex-end;
          position: absolute;
          display: flex;
          margin: 0 !important;
          right: 0;

          & svg {
            @extend border-radius;
            padding: 5px;
            width: 22px;
          }
        }

        &__transform {
          background-color: white;
          @extend card-simple;
          margin: 0 !important;
          padding: 10px;
          z-index: 1;

          &__text {
            margin: 0;

            &__subText {
              display: flex;
              margin: 0;
              justify-content: space-between;

              &--bold {
                margin-right: 0;
                font-weight: 700;
              }

              & p {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}

.container__menu__full {
  position: relative;

  .secondary {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 2%;
    bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {

  .container__menu {
    &__simple__card {
      &__transform {
        padding: 10px;

        &__subText {
          margin-bottom: 10px;
        }
      }
    }
  }

  @media only screen and (min-width: 1024px) {
    .container {
      &__menu {
        padding: 10px 20px;

        &__simple {
          height: auto;
          display: flex;
          flex-direction: row;
          margin: 0;
          justify-content: space-between;

          &__card {
            flex-basis: 32%;
            margin: 0 auto;

            &__static {
              height: 140px;
            }

            &__transform {
              height: 140px;
              text-align: center;

              &__text {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                h3 {
                  margin: 2px auto;
                  border-bottom: 3px solid #99e2d0;
                  padding: 0 10px 5px;
                }

                p {
                  margin: 0 5px;
                }

                &__subText {
                  flex-direction: column;
                  height: 68%;

                  &--bold {
                    margin: 0;
                  }

                  & p:nth-child(2) {
                    margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
        &__full{
        
          background-color:orange;
        }
    }
  }
}}