* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}



body {
    font-family: roboto, san-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    min-width: 350px;
    width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

svg {
    width: 19px;
    margin: 0;
}

img {
    object-fit: cover;
    object-position: center;
}

.icon {
    width: 15px;
    margin: 0 10px -3px 0;
}