* {
    box-sizing: border-box;
      padding: 0;
      margin:0 auto;
 }

 body {
    background-color: rgb(243, 243, 243);
    
    margin: 0 auto;
 }

main{
 
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;

}

svg {
    width: 19px;
    margin: 0;
}

img {
    object-fit: cover;

    object-position: center;
}

.icon {
    width: 15px;
    margin: 0 10px -3px 0;
}




@media only screen and (min-width: 768px) {
    body {
       
    }
}


@media only screen and (min-width: 1024px) {
    body {
       
    }
}

