body {
    font-family: roboto, san-serif;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    min-width: 380px;
    width: 100%;
    background-color: sandybrown;

}

.container__title {
    & h1 {
        font-family: shrikhand, serif;
        font-style: italic;
        letter-spacing: 1px;
        margin: 0px 15px;
        text-transform: capitalize;
    }
}

h3 {
    text-transform: capitalize;
    margin: 3px 0;
}


.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 5px;
    font-size: 1.07rem;
    position: relative;
    margin-bottom: 10px;

    &:after {
        content: "";
        width: 50px;
        height: 3px;
        background-color: #99e2d0;
        left: 5px;
        bottom: -6px;
        position: absolute;
    }
}

.lowercase {
    text-transform: lowercase;
}

<<<<<<< HEAD
@media only screen and (min-width: 768px) {
=======
@media only screen and (min-width: 768px){
>>>>>>> a500d313c84409fb60cf4fce4e65833c144228b3
    body {
        h1 {
            font-size: 2.5rem;
        }

<<<<<<< HEAD
        .uppercase,
        h3 {
            font-size: 1.3rem;
        }

        p {
            font-size: 1.15rem;
        }
    }

    @media only screen and (min-width: 1024px) {}
}
=======
        .uppercase, h3{
            font-size: 1.3rem;
        }

        p{
            font-size: 1.15rem;
        }
}

@media only screen and (min-width: 1024px) {
  
}}
>>>>>>> a500d313c84409fb60cf4fce4e65833c144228b3
