.title {
    & h1{
        font-family: shrikhand, serif;
        font-style: italic;
        letter-spacing: 1px;
        margin: 0 15px;
        text-transform: capitalize;
    }
   
}

h3 {
    text-transform: capitalize;
    margin: 3px 0;
}


.uppercase {
    text-transform: uppercase;
    font-weight: 300;
    padding: 0 5px;
    font-size: 1.07rem;
    position:relative;
    margin-bottom: 10px;

    &:after {
        content: "";
        width: 45px;
        height: 2px;
        background-color: cyan;
       left: 5px;
        bottom: -6px;
        position: absolute;
    }
}

.lowercase {
    text-transform: lowercase;
   
  }