.header {
    text-align: center;

    &__logo {
        margin: 15px auto;
        width: 200px;
    }

    &__search {
        background-color: rgb(236, 236, 236);
        box-shadow: inset 0px 2px 5px 0px rgb(138, 137, 137);

        & form {
            & input {
                height: 60px;
                border: none;
                background-color: transparent;
                margin: 0;
                font-size: 1rem;
                font-weight: 700;
                text-align: center;
                width: 150px;

                &::placeholder {
                    color: rgb(80, 80, 80);
                }
            }
        }
    }

    &__explore {
        padding: 10px 0;

        & h2,
        p {
            max-width: 300px;
            margin: 30px auto;
            border: 2px dashed red;
        }
    }

    &__howItWorks {
        padding: 40px 15px;
        background-color: white;
        max-width: 1500px;

        & h2 {
            text-align: left;
            padding: 0 5px;
        }

        & p {
            margin-left: 0;
        }

        &__steps {
            @extend card-steps;

            display: flex;
            align-items: center;
            position: relative;
            font-weight: 700;

            svg {
                margin: 0 20px;
                fill: rgb(104, 104, 104);
            }

            &:hover {
                background-color: rgb(246, 228, 253);
                transform: scale(1.01);
                transition: 300ms ease-in-out;

                & svg {
                    fill: #8559bb;
                }

                & p {
                    transition: 100ms ease-in-out;
                    font-size: 1.07rem;
                }
            }
        }
    }
}

.reduce {
    width: 15px;
}

.circle {
    background-color: #8559bb;
    color: white;
    padding: 4px;
    margin: 0;
    width: 25px;
    height: 25px;
    @extend border-radius;
    position: absolute;
    left: -11px;
    font-weight: 300;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.containerIndex {
    flex-basis: 85%;
}

.containerMenuIndex {
    padding: 0 10px;
}

@media only screen and (min-width:768px) {
    .header {
        &__explore {

            & h2,
            p {
                max-width: 100%;
            }
        }

        &__howItWorks {
            padding: 40px 60px;
        }
    }

    .containerIndex {
        
        &__menu {
            &__full {
                max-width: 600px;
                padding: 5px;
                 
            }
        }
    }
}

@media only screen and (min-width:1024px) {

    .mainIndex {
        justify-content: space-between;
        width: 100%;
        max-width: 1500px;
        margin: 0 auto;
    }

    .banner {
        flex-basis: 100%;
        margin-top: 30px;
        border: 2px dashed blue;
    }


.containerIndex {
  
    margin: 30px auto 0;
    padding: 0 20px;
}}