i {
    position: relative;
    font-size: 20px;
    margin: 0px;
    position: absolute;

    &:first-child {
        color: white;
    }

    &:last-child {
        opacity: 0.5;
    }
}

body {}

.preloader {
    opacity: 0.5;
    background: orange;
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
  
    .loading {
        display: flex;
        margin: auto;       
        width: 80vw;        
        background: linear-gradient(170deg, blue, green);
        border: 2px dashed red;
        z-index: 1;

        &>* {
            @extend dot-group;
            margin: 15px auto;

        }
    }
}




@media only screen and (min-width: 768px) {

    .loading {
        width: 55vw;

        &>* {
            margin: 10px auto;
        }
    }

}


@media only screen and (min-width: 1024px) {

    .loading {
        width: 50vw;

        &>* {
            margin: 5px auto;
        }
    }

}