i {
    position: relative;
    font-size: 20px;
    margin: 0px;
    position: absolute;

    &:first-child {
        color: white;
    }

    &:last-child {
        opacity: 0.5;
    }
}

body{
    opacity: 0.5;
}

.loading {
    display: flex;
    width: 80vw;
    height: 100vh;
    align-items: center;

    &>* {
        @extend dot-group;  
        margin:15px auto ;
    }

    &__l {
        background-color: green;

    }

    &__o {
        background-color: green;
    }

    &__a {
        background-color: green;
    }

    &__d {
        background-color: green;
    }

    &__i {
        background-color: green;
    }

    &__n {
        background-color:green;

    }

    &__g {
        background-color: green;
    }
}


@media only screen and (min-width: 768px) {

    .loading {
        width: 55vw;
       &>*{
        margin:10px auto ;
       }
    }

}


@media only screen and (min-width: 1024px) {

    .loading {
        width: 50vw;
       &>*{
        margin:5px auto ;
       }
    }

}