
@mixin card{
    border-radius: 20px;
    margin: 15px auto;
}

card-full {
    @include card;
    text-transform: capitalize;
    height: 220px;
}

card-simple {
    @include card;
   
}

card-steps{
    @include card;
    height: 70px;
    margin: 15px 0 0 20px ;
    padding-left: 10px;
}

