@mixin card {
    @include cornerRadius();
    margin: 15px auto;
}

@mixin cornerRadius($tl:15px, $tr:null, $br:null, $bl:null) {
    border-radius: $tl $tr $br $bl;
}

card-full {
    @include card;
    text-transform: capitalize;
    height: 250px;

    & img {

        @include cornerRadius(15px 15px 0 0);

    }
}

card-simple {
    @include card;
}

card-steps {
    @include card;
    height: 70px;
    margin: 15px 10px 0 20px;
    padding-left: 10px;
}

border-radius {
    @include cornerRadius();
}

border-radius-15 {
    @include cornerRadius(15px);
}

border-right-radius-15 {
    @include cornerRadius(0 15px 15px 0);
}

border-top-radius-25 {
    @include cornerRadius(25px 25px 0 0);
}

@mixin loadingAnim {
    animation-name: loading;

    @keyframes loading {
        0% {
            opacity: 0;
        }

        100% {
            visibility: visible;
            opacity: 1;

        }
    }
}

loadingCard {
    @include loadingAnim;
    animation-timing-function: ease-in-out;
}

loadingGroup {
    @include loadingAnim;
    animation-duration: 1000ms; 
}
