
@mixin card{
    border-radius:15px;
       margin: 10px auto;
}

card-full {
    @include card;
    text-transform: capitalize;
    height: 250px;
}

card-simple {
    @include card;
    height: 100px;
}

card-steps{
    @include card;
    
    height: 100px;
}