$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;

//oblong button
.primary {
  background-image: linear-gradient(170deg, $color-secondary, $color-primary);

  &:hover {
    filter: drop-shadow(3px 3px 3px darken(#9356DC, 10%));
  }
}

//heart like button
.secondary {
  &__line {
    fill: $color-primary;
  }
}

//menu-item like button
.tertiary {
  background-color: $color-tertiary;

  & svg {
    background-color: white;
    fill: $color-tertiary;
  }

  &:focus {
    background-color: #51e0bc;
  }
}

.footer {
  background-color: $color-footer;
}

.container__menu__simple__card__static {
  background-color: $color-tertiary;
}