
$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99E2D0;
$color-footer: #353535;

$color-white: white;
$color-red:red;
$color-blue:blue;
$color-cyan: cyan;
$color-lightgreen:lightgreen;


.btn-primary {
    background-image: linear-gradient(170deg, $color-secondary, $color-primary);
  }

  .footer {
    background-color: $color-footer;
  }
  