$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary: #99e2d0;
$color-lightGrey: #ebe9e9;
$color-midGrey: #c9c9c9;
$color-footer: #353535;

//oblong button
.primary {
  background-image: linear-gradient(170deg, $color-secondary, $color-primary);
  filter: drop-shadow(3px 3px 3px darken($color-primary, 10%));
}

//heart like button
.secondary {
  &__line {
    fill: $color-primary;
  }
}

//menu-item like button
.tertiary {
  background-color: $color-tertiary;

  & svg {
    background-color: white;
    fill: $color-tertiary;
  }

  &:focus {
    background-color: #51e0bc;
  }

}

.header__howItWorks__steps{
  background-color:$color-lightGrey;
  filter: drop-shadow(3px 3px 3px darken($color-lightGrey, 15%));
}

.footer {
  background-color: $color-footer;
}

.container{
background-color: $color-lightGrey;
&__menu{
  background-color: $color-lightGrey;
  &__simple__card{
  filter: drop-shadow(5px 5px 5px darken($color-lightGrey, 15%));
  &__static {
  background-color: $color-tertiary;
}
}}}

//preloader
.loading {
  &>* {
    background: linear-gradient(170deg, $color-secondary, $color-primary);
    color: white;
  }
}
